CONTACT_DELIVERY_MODE=console

CONTACT_SMTP_HOST=<host>
CONTACT_SMTP_PORT=<port>
CONTACT_SMTP_SECURE=true
CONTACT_SMTP_USER=reach@abstract.voyage
CONTACT_SMTP_PASS=<app-password-here>

CONTACT_TO_EMAIL=reach@abstract.voyage
CONTACT_FROM_EMAIL=reach@abstract.voyage

CONTACT_FORCE_ERROR=false
CONTACT_FORCE_DELAY_MS=0